# Jetbrains IDE project configuration
.idea

# Node modules (There's a lot of them)
node_modules

# File uploads
public_html/cms/upload/*
public_html/upload/*

# Composer packages (Take up space)
vendor
core/vendor
