.card {
  position: relative;
  @include border-radius(4px);
  background-color: color-light(4);
  color: rgba(black, .87);
  @include shadow();
  font-weight: 400;
  &__header {
    position: relative;
    top: 0;
    width: 100%;
    height: 64px;
  }

  .header {
    &__row {
      @include layout-row(space-between);
      height: inherit;
      &-list {
        &--left {
          @extend .header__row-list;
          @include layout-row__list(left);
        }
        &--right {
          @extend .header__row-list;
          @include layout-row__list(right);
        }
        li {
          position: relative;
          h1 {
            margin: 0 8px;
            font-size: 20px;
            font-weight: 400;
          }
          .button__icon {
            --fab-size: 48px;
          }
        }
      }

      &--contextual {
        @extend .header__row;
        position: absolute;
        top: 0;
        left: 0;
        display: none !important;
        width: 100%;
        height: inherit;
        background-color: color-primary(50);
        color: color-primary();
        ul {
          .contextualAmount {
            padding: 0 8px;
            @include type('Roboto', medium, 14);
          }
        }

        &.open {
          display: flex !important;
          animation: contextualShow 300ms curve(deceleration) forwards;
        }
        &.closing {
          display: flex !important;
          animation: contextualHide 300ms curve(acceleration) forwards;
        }
      }
    }
  }

  &__body {
    position: relative;

    padding: 16px;
  }
}

@keyframes contextualShow {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
@keyframes contextualHide {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.user {
  &__container {
    position: relative;
    @include flex(block, row, start, start);
    width: 100%;
    height: 200px;
    padding: 16px;
  }
  &__info {
    position: relative;
    @include flex(block, column, start, start);
    width: 100%;
    height: calc(200px - 32px);
    margin-left: 16px;
  }
  &__image {
    position: relative;
    @include flex(block, row, center, center);
    height: 168px !important;
    @include border-radius(168px);
    margin: 0;
    overflow: hidden;
    img {
    }
  }
  &__title {
    margin: 16px 0 0 0;
    color: rgba(black, .87);
    font-size: 34px;
    font-weight: 400;
  }
  &__subtitle {
    color: rgba(black, .42);
    font-size: 18px;
    font-weight: 500;
  }
  &__actions {
    align-self: start;
    @include layout-row__list(start);
    width: 100%;
    margin-top: auto;
  }
}

.details {
  &__container {
    position: relative;
    padding: 16px;
    color: rgba(black, .87);

    &--split {
      @extend .details__container;
      display: grid;
      grid-template-columns: repeat(2, auto);
    }
  }
  &__title {
    color: rgba(black, .87);
    font-size: 34px;
    font-weight: 400;
  }
  &__subtitle {
    color: rgba(black, .56);
    font-size: 18px;
    font-weight: 500;
  }
}