.form__group-items {
  --spacing: 16px;

  position: relative;
  @include flex(block, row, start, start);
  flex-wrap: wrap;
  width: calc(100% - var(--spacing) * 2);
  padding: 0 var(--spacing);
  border-radius: 8px;
  border: 2px solid rgba(black, .12);
  margin: var(--spacing);

  &--rows {
    @extend .form__group-items;
    @include flex(block, column, start, start);

    .form__group-items-group {
      @extend .form__group;
      @include flex(block, row, start, center);
      padding: 0 8px 0 0;
      margin: 0 0 8px 0;
      label {
        top: 16px;
        left: 0 !important;
      }
      input { height: 48px }
    }
  }

  .title {
    width: 100%;
    margin: 16px 0;
    color: rgba(black, .42);
    font-size: 24px;
  }

  &-group {
    @extend .form__group;
    position: relative;
    padding: 0;
    margin: 0 5px 5px 0;

    label {
      position: absolute;
      top: 18px !important;
      left: 12px !important;
      font-size: 12px;
      color: rgba(black, .57);
    }
    .select {
      &__selected {
        height: 48px;
        min-width: 128px;
        width: unset;
      }
      &__list {
        top: 46px;
        left: 0;
      }
    }
  }

  &-new {
    @extend .button__flat--primary;
    @include flex(block, row, center, center);
    width: 100%;
    margin: 16px 0;
  }
}