.drawer {
  position: sticky;
  top: 0;
  left: 0;
  width: var(--drawer-width);
  height: 100vh;
  padding-bottom: 64px;
  grid-area: d;
  z-index: 1000;

  border-right: 1px solid color-light(1);

  background-color: color-light(4);
  color: color-text(high);

  overflow-y: auto;

  &__header {
    position: relative;
    @include flex(block, row, start, center);
    height: var(--header-height);
    padding: 0 16px;
  }
  &__title {
    @include type('Roboto', medium, 20);
  }

  &__list {
    padding: 8px 0;
    border-bottom: 1px solid color-light(1);

    &:last-child {
      border-bottom: none;
    }

    &--bottom {
      @extend .drawer__list;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 64px;
      border-top: 1px solid color-light(1);
    }

    &-title {
      @include flex(block, row, start, center);
      @include type('Roboto', medium, 13);
      height: 28px;
      padding: 0 16px;
      color: color-text(medium);
    }
  }
  &__link {
    cursor: pointer;
    user-select: none;
    position: relative;
    @include flex(block, row, start, center);
    height: 48px;
    padding: 0 16px;

    color: color-text();
    @include type('Roboto', medium, 14);

    i {
      margin-right: 36px;
      color: #757575;
    }

    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 8px;
      width: calc(100% - 16px);
      height: calc(100% - 8px);
      border-radius: 4px;
      background-color: transparent;
      z-index: -1;
      @include transition(180ms, curve());
    }

    &:hover {
      &::after { background-color: rgba(black, .05) }
    }
    &:focus {
      &::after { background-color: rgba(black, .1) }
    }

    &.active {
      color: color-primary();
      i { color: color-primary() }
      &::after { background-color: rgba(color-primary(), .1) }
    }
  }
}

@media (max-width: 480px) {
  .drawer {
    grid-area: unset;

    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);

    transition: transform 280ms curve(), box-shadow 280ms curve();
    z-index: 100;
    box-shadow: 0 0 0 100vw rgba(black, 0);

    &.active {
      transform: translateX(-0%);
      box-shadow: 0 0 0 56px rgba(black, .2);
    }
  }
}

.appbar {
  position: relative;
  top: 0;
  grid-area: h;
  z-index: -1;
  overflow: hidden;

  padding: 0 16px;

  background-color: color-primary();
  color: color-light(3);

  @include flex(block, row, start, center);

  button {
    display: none;
  }

  h1 {
    @include flex(block, row, start, center);
    height: var(--header-height);
    @include type('Roboto', regular, 28);
    margin: 0;
  }
}

@media (max-width: 480px) {
  .appbar {
    grid-area: unset;

    position: sticky;
    top: 0;
    z-index: 2;
    @include depth(2);
    padding: 0 8px;

    button {
      @include flex(block, row, center, center);
      --fab-size: 48px;
      margin-right: 8px;
    }

    h1 {
      @include type('Roboto', medium, 20);
    }
  }
}