.form__group--switch { @extend .form__group }

.switch {
  position: relative;
  @include flex(block, row, space-between, center);
  width: 100%;

  input {
    all: initial;
    appearance: none;
    cursor: pointer;
    position: relative;

    -webkit-tap-highlight-color: transparent;
    outline: none;

    width: 36px;
    height: 16px;
    border-radius: 16px;

    background-color: #9b9b9b;

    @include transition(280ms, curve());

    &:focus { border-bottom: 0 }
    &::-moz-focus-inner { border: 0 }

    &::after {
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      right: auto;
      
      width: 24px;
      height: 24px;
      border-radius: 24px;

      background-color: color__light(4);
      @include depth();

      @include transition(280ms, curve());
    }

    &:checked {
      background-color: color__primary(200);

      &::after {
        background-color: color__primary(500);

        transform: translateX(20px);
      }
    }
  }
  label {
    all: initial;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;

    color: rgba(black, .87);

    @extend .type;
    font-size: 16px;
  }
}