.table {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  border-spacing: 0;
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  margin-bottom: 4px;
  tr {
    border-top: 1px solid color-light(1);
    border-bottom: 1px solid color-light(1);
    height: 47px !important;
  }
  thead {
    tr {
      position: relative;
      th {
        padding-right: 56px;
        color: color-text(medium);
        font-size: 12px;
        font-weight: 500;

        &.select {
          position: relative;
          @include flex(block, row, center, center);
          width: 56px;
          height: 48px;
          padding-right: 0;
        }
      }
    }
  }
  tbody {
    tr {
      position: relative;
      width: 100%;
      @include transition(280ms, curve());
      td {
        width: 100%;
        max-width: 150px;
        height: inherit;
        padding-right: 56px;
        color: rgba(black, .87);
        font-size: 13px;
        font-weight: 400;
        white-space: nowrap;
        padding-bottom: 0;

        &.options {
          position: relative;
          height: 48px;
          padding-right: 0;
          padding-left: 9%;
          form {
            width: 100%;
          }
          input[type='submit'] {
            appearance: none;
            border: none;
            background-color: transparent;
            width: 100%;
            padding: 0 !important;
          }
        }

        &.select {
          position: relative;
          @include flex(block, row, center, center);
          width: 56px;
          height: 48px;
          padding-right: 0;
        }
      }

      &.selected {
        background-color: color-light(2);
      }
    }
  }
  &__checkbox {
    cursor: pointer;
    @include appearance();
    width: 18px;
    height: 18px;
    border: 2px solid darken(color-light(1), 5%);
    @include border-radius(4px);
    background-color: transparent;
    @include transition(280ms, curve());
    z-index: 1;
    &:checked {
      border: 9px solid color-primary(500);

      &::after {
        @include transform(rotate(45deg) rotateX(0deg) translateY(-1px) scale(0.6));
        opacity: 1;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 9px);
      left: calc(50% - 5px);
      width: 10px;
      height: 18px;
      border-right: 4px solid color-light(4);
      border-bottom: 4px solid color-light(4);
      background-color: transparent;
      transform-origin: center;
      @include transform(rotate(45deg) rotateX(90deg) translateY(-1px) scale(0));
      opacity: 0;
      @include transition(560ms, curve());
    }
  }

  &-footer {
    position: relative;
    @include flex(block, row-reverse, start, center);
    width: 100%;
    height: 56px;
    padding: 8px;

    &__next, &__prev {
      cursor: pointer;
      appearance: none;
      position: relative;
      @include flex(block, row, center, center);
      width: 48px;
      height: 48px;
      border: none;
      border-radius: 48px;

      background-color: transparent;
      color: color-text(medium);

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: rgba(black, .1);
        opacity: 0;
        transform: scale(0);
        transition: opacity 180ms curve(), transform 280ms curve();
      }

      &:active {
        &::after {
          opacity: 1;
          transform: scale(.6);
        }
      }

      &.disabled {
        pointer-events: none;
        color: color-text(disabled);
        &::after {
          width: 0;
          height: 0;
        }
      }
    }
    &__status {
      padding: 0 16px;
      @include type('Roboto', medium, 11);
      color: color-text(medium);
    }
  }
}

@media (min-width: 960px) {
  .table {
    &-footer {
      &__next, &__prev {
        &:hover {
          &::after {
            opacity: 1;
            transform: scale(.6);
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .table {
    table-layout: unset;
    width: 100vw;
    overflow-x: auto;
  }
}